@import url(_theme.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: var(--body-font);
  line-height: 1;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

::selection {
  background-color: rgba(var(--primary-color-rgb), 0.25);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.wrapper {
  width: min(var(--lg), 100%);
  display: block;
  margin: 0 auto;
}

.wrapper--sm {
  width: min(var(--sm), 100%);
}

.wrapper--padding-x {
  padding-left: var(--wrapper-padding-x);
  padding-right: var(--wrapper-padding-x);
}

.link {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.button {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  background: none;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.button--padded {
  padding: 0.75rem;
}

.button--bg-primary {
  background-color: rgba(var(--primary-color-rgb), 0.8);
  color: var(--bg-color-abs);
  transition: background-color 0.25s;
}

@media (hover: hover) {
  .button--bg-primary:hover {
    background-color: rgba(var(--primary-color-rgb), 0.9);
  }
}

.button--bg-primary:active {
  background-color: var(--primary-color);
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp--1 {
  -webkit-line-clamp: 1;
}

.line-clamp--2 {
  -webkit-line-clamp: 2;
}

.line-clamp--3 {
  -webkit-line-clamp: 3;
}

.line-clamp--4 {
  -webkit-line-clamp: 4;
}

.line-clamp--5 {
  -webkit-line-clamp: 5;
}

.main {
  margin: 2rem 0 3rem 0;
}

@media (min-width: 576px) {
  .main {
    margin-bottom: 5rem;
  }
}
