.header {
  z-index: 50;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color);
  border-bottom: 0.15rem solid var(--primary-color-50);
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin: 0 var(--wrapper-padding-x);
}

.header__logo-link {
  display: block;
  padding: 1rem 0;
}

.header__navbar {
  display: contents;
}

@media (min-width: 768px) {
  .header__navbar {
    display: block;
  }
}

.header__hamburger-button {
  margin: 1rem var(--wrapper-padding-x);
}

@media (min-width: 768px) {
  .header__hamburger-button {
    display: none !important;
  }
}

.header__navbar-list {
  flex: 1 1 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  border-top: 0.15rem solid var(--primary-color-50);
  overflow: hidden;
  transition: 0.5s;
}

.header__navbar-list--close {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
}

.header__navbar-list--open {
  max-height: 15rem;
  visibility: visible;
  opacity: 1;
}

@media (min-width: 768px) {
  .header__navbar-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;
    max-height: initial;
    margin: 1rem var(--wrapper-padding-x);
    border: none;
    visibility: visible;
    overflow: visible;
    opacity: 1;
  }
}

.header__navbar-action {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 0.75rem;
  padding: 1rem var(--wrapper-padding-x);
  border-radius: 0;
  transition: 0.25s;
}

.header__navbar-action-image {
  height: 1rem;
}

@media (hover: hover) {
  .header__navbar-action:hover {
    background-color: var(--primary-color-50);
  }

  .header__navbar-action--danger:hover {
    background-color: rgba(var(--danger-color-rgb), 0.15);
  }
}

.header__navbar-action:active {
  background-color: var(--primary-color-100);
}

.header__navbar-action--danger:active {
  background-color: rgba(var(--danger-color-rgb), 0.35);
}

@media (min-width: 768px) {
  .header__navbar-action {
    justify-content: center;
    gap: 0.25rem;
    padding: 0.5rem;
    background-color: var(--primary-color-50);
    border-radius: 0.5rem;
    font-size: 0.8rem;
  }

  .header__navbar-action-icon {
    font-size: 0.8rem;
  }

  .header__navbar-action-image {
    height: 0.8rem;
  }

  @media (hover: hover) {
    .header__navbar-action:hover {
      background-color: var(--primary-color-100);
    }

    .header__navbar-action--danger:hover {
      background-color: rgba(var(--danger-color-rgb), 0.4);
    }
  }

  .header__navbar-action:active {
    background-color: var(--primary-color-200);
  }

  .header__navbar-action--danger:active {
    background-color: rgba(var(--danger-color-rgb), 0.5);
  }
}
