.write-note-page__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.write-note-page__heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.75rem;
  border-bottom: 0.1rem solid rgba(var(--text-color-rgb), 0.05);
  font: 700 1.4rem var(--heading-font);
}

.write-note-page__heading-icon {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.write-note-page__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.write-note-page__input-container {
  width: min(var(--sm), 100%);
}

.write-note-page__input--body {
  min-height: 15rem;
  line-height: 1.5;
  overflow: auto;
  resize: vertical;
  transition: all 0.5s, height 0s;
}

.write-note-page__input--body * {
  font-size: 0.9rem;
  line-height: 1.5;
}

.write-note-page__submit-button {
  margin-top: 1rem;
}

@media (min-width: 576px) {
  .write-note-page__submit-button {
    align-self: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
