.write-note-page__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.write-note-page__heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 var(--wrapper-padding-x) 0.75rem;
  border-bottom: 0.1rem solid rgba(var(--text-color-rgb), 0.05);
  font: 700 1.4rem var(--heading-font);
}

@media (min-width: 576px) {
  .write-note-page__heading {
    padding: 0;
    padding-bottom: 0.75rem;
    margin: 0 var(--wrapper-padding-x);
  }
}

.write-note-page__heading-icon {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.write-note-page__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.write-note-page__input-container {
  position: relative;
  width: min(576px, 100%);
}

@media (min-width: 576px) {
  .write-note-page__input-container {
    margin: 0 var(--wrapper-padding-x);
  }
}

.write-note-page__input {
  padding: 1rem var(--wrapper-padding-x);
  border-radius: 0;
}

@media (min-width: 576px) {
  .write-note-page__input {
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

.write-note-page__input--title {
  padding-right: calc(4rem + var(--wrapper-padding-x));
}

.write-note-page__input--body {
  overflow: auto;
  min-height: 15rem;
  line-height: 1.5;
  resize: vertical;
  transition: all 0.5s, height 0s;
}

.write-note-page__input--body * {
  font-size: 0.9rem;
  line-height: 1.5;
}

.write-note-page__input-badge {
  z-index: 1;
  position: absolute;
  padding: 0.25rem;
  background-color: rgba(var(--text-color-rgb), 0.075);
  border-radius: 0.5rem;
  color: var(--text-color-300);
  font-size: 0.7rem;
  cursor: default;
}

.write-note-page__input-badge--title {
  top: 50%;
  right: var(--wrapper-padding-x);
  translate: 0 -50%;
}

.write-note-page__input-invalid-message {
  z-index: 1;
  position: absolute;
}

.write-note-page__input-invalid-message--title {
  top: 50%;
  right: calc(3.5rem + var(--wrapper-padding-x));
  translate: 0 -50%;
}

.write-note-page__input-invalid-message--body {
  bottom: var(--wrapper-padding-x);
  right: var(--wrapper-padding-x);
}

.write-note-page__submit-button {
  margin: 1rem var(--wrapper-padding-x) 0;
}

@media (min-width: 576px) {
  .write-note-page__submit-button {
    align-self: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
